version: "3.9"
services:
  pgage:
    image: mp4sini/pgage:latest
    hostname: pgage
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: psw
      POSTGRES_DB: smartbench_eval
    container_name: pgage
    # command:
    #   - /bin/bash
    #   - -c
    #   - |
    #     opt/local/bin/start-sample-cluster.sh
    #     tail -f /dev/null
    # volumes:
    #   - "./volumes/asterixdb_conf/:/workspace/apache-asterixdb-0.9.9/opt/local/conf/"
    ports:
      - 5432:5432

  pgage_eval:
    image: mp4sini/pgage_eval:latest
    hostname: pgage_eval
    container_name: pgage_eval
    volumes:
      - "./../data:/pgage/src/results"
      - "./volumes/time_constraints_tstamp.yaml:/constraints/time_constraints.yaml"
    env_file:
      - ./../.env 
    depends_on:
      - pgage
    command:
      - /bin/bash
      - -c
      - |

        ./wait-for-it.sh pgage:5432 -t 90 -- echo "PostgreSQL running, starting to ingest data..."
        chmod +x scripts/download_dataset.sh
        chmod +x scripts/run_smartbench_evaluation.sh
        cp /constraints/time_constraints.yaml /src/main/resources/queries/
        ./scripts/run_smartbench_evaluation.sh
