version: "3.9"
services:
  pgage:
    image: mp4sini/pgage:latest
    container_name: pgage
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: psw
      POSTGRES_DB: smartbench_eval
      PGDATA: /home/postgres/pgdata/data
    volumes:
      - "./volumes/conf/postgresq_conf:/pgconf"
    command: ["-c", "config_file=/pgconf/postgresql.conf"]
    ports:
      - 5432:5432

  pgage_eval:
    image: mp4sini/pgage_eval:latest
    hostname: pgage_eval
    container_name: pgage_eval
    volumes:
      - "./../data:/pgage/src/results"
      - "./volumes/time_constraints_tstamp.yaml:/constraints/time_constraints.yaml"
      - "./volumes/queries/pgage:/pgage/src/main/resources/queries"
    env_file:
      - ./../.env
    depends_on:
      - pgage
    command:
      - /bin/bash
      - -c
      - |
        ./wait-for-it.sh pgage:5432 -t 90 -- echo "PostgreSQL running, starting to ingest data..."
        chmod +x scripts/download_dataset.sh
        chmod +x scripts/run_smartbench_evaluation.sh
        cp /constraints/time_constraints.yaml /pgage/src/main/resources/queries
        sleep 20
        ./scripts/run_smartbench_evaluation.sh
